{% extends "header.html" %}

{% block body %}
<div class="animate fadeIn">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title" v-if="headerText">Who are we?</strong>
            </div>
            <div class="card-body">
                <div class="typo-headers text-sm-center text-center">
                    <a href="https://codingprivacy.github.io"><h1 class="pb-2 display-4">Coding Privacy!</h1></a>
                </div>
               
            </div>
        </div>
    </div>
</div>
<div class="row">
    
    <div class="col-md-2"></div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="mx-auto d-block">
                    <img class="rounded-circle mx-auto d-block" src="https://i.imgur.com/dRgEsnO.png" alt="Card image cap">            
                    <h4 class="text-sm-center mt-2 mb-1"><strong>Vatsal Mistry</strong></h4> 
                    <div class="text-sm-center mt-2 mb-1">Developer</div>
                </div>
                <hr>
                <div class="card-text text-sm-center">
                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>                 
                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>       
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="mx-auto d-block">
                    <img class="rounded-circle mx-auto d-block" src="https://i.imgur.com/Jkjrd3Q.png" alt="Card image cap">            
                    <h4 class="text-sm-center mt-2 mb-1"><strong>Harsh Patel</strong></h4> 
                    <div class="text-sm-center mt-2 mb-1">Developer</div>
                </div>
                <hr>
                <div class="card-text text-sm-center">
                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>                 
                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>       
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-2"></div> 
    
</div>
<div class="row">
    
    <div class="col-md-2"></div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="mx-auto d-block">
                    <img class="rounded-circle mx-auto d-block" src="https://i.imgur.com/DHiecI4.png" alt="Card image cap">            
                    <h4 class="text-sm-center mt-2 mb-1"><strong>Anindita Guha</strong></h4> 
                    <div class="text-sm-center mt-2 mb-1">Developer</div>
                </div>
                <hr>
                <div class="card-text text-sm-center">
                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>                 
                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>       
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="mx-auto d-block">
                    <img class="rounded-circle mx-auto d-block" src="https://i.imgur.com/D0DvGMs.png" alt="Card image cap">            
                    <h4 class="text-sm-center mt-2 mb-1"><strong>Nitin Lalwani</strong></h4> 
                    <div class="text-sm-center mt-2 mb-1">Developer</div>
                </div>
                <hr>
                <div class="card-text text-sm-center">
                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>                 
                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>       
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-2"></div> 
    
</div>
</div>
{% endblock %}