{% extends "header.html" %}

{% block body %}
<div class="animate fadeIn">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title" v-if="headerText">Who are we?</strong>
            </div>
            <div class="card-body">
                <div class="typo-headers">
                    <a href="https://codingprivacy.github.io"><h1 class="pb-2 display-4">Coding Privacy!</h1></a>
                </div>
                <div class="typo-articles">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec velit ullamcorper, faucibus augue ac, lacinia sapien. Suspendisse pulvinar dui ac quam varius semper. Cras vitae nisl tincidunt, tristique enim in, ultrices tellus. Vestibulum finibus egestas diam, vitae malesuada arcu venenatis eu. Nulla id fringilla quam. Etiam blandit tristique purus ullamcorper luctus. Phasellus et ligula eu justo vehicula lacinia nec in justo. Nunc hendrerit odio feugiat lacinia dapibus. Maecenas blandit metus venenatis, ultrices nisi vitae, vestibulum erat. Nulla rhoncus tellus vel nulla tempor, vel laoreet neque scelerisque. Nunc gravida ultricies lectus ac dapibus. Suspendisse viverra fermentum nisi, at bibendum risus gravida a. Ut lacus tortor, suscipit et maximus a, ultrices non metus. Donec sed consectetur augue. Ut pharetra lectus vel nulla tempor tristique.</p>
                <hr>
                <p>Nam aliquet eleifend nibh non tempus. Nulla vulputate sem augue, ac pellentesque tellus gravida non. Cras eleifend eleifend turpis, a porta velit dignissim id. Donec rutrum consequat felis, sed aliquam arcu venenatis eu. Cras leo eros, feugiat sit amet leo sit amet, lacinia scelerisque nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo erat nec enim cursus, quis vehicula libero finibus.</p>
                <hr>
                <p>Mauris nunc sapien, commodo vel tincidunt sed, imperdiet vitae urna. Nam ultricies vestibulum ultricies. Aenean euismod, neque laoreet commodo ullamcorper, mauris lacus ornare orci, eget mollis tortor libero sed magna. Duis mollis luctus lorem, vel rhoncus justo facilisis quis. Nulla ultrices pellentesque hendrerit. Nam condimentum nibh non pulvinar posuere. Morbi eleifend arcu in sem pharetra iaculis. Donec nec est pharetra, placerat eros non, suscipit velit. Nunc laoreet aliquam elementum. Donec hendrerit felis id nisl auctor convallis.</p>
                
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    
    <div class="col-md-2"></div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="mx-auto d-block">
                    <img class="rounded-circle mx-auto d-block" src="https://i.imgur.com/dRgEsnO.png" alt="Card image cap">            
                    <h4 class="text-sm-center mt-2 mb-1"><strong>Vatsal Mistry</strong></h4> 
                    <div class="text-sm-center mt-2 mb-1">Developer</div>
                </div>
                <hr>
                <div class="card-text text-sm-center">
                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>                 
                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>       
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="mx-auto d-block">
                    <img class="rounded-circle mx-auto d-block" src="https://i.imgur.com/Jkjrd3Q.png" alt="Card image cap">            
                    <h4 class="text-sm-center mt-2 mb-1"><strong>Harsh Patel</strong></h4> 
                    <div class="text-sm-center mt-2 mb-1">Developer</div>
                </div>
                <hr>
                <div class="card-text text-sm-center">
                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>                 
                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>       
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-2"></div> 
    
</div>
<div class="row">
    
    <div class="col-md-2"></div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="mx-auto d-block">
                    <img class="rounded-circle mx-auto d-block" src="https://i.imgur.com/DHiecI4.png" alt="Card image cap">            
                    <h4 class="text-sm-center mt-2 mb-1"><strong>Anindita Guha</strong></h4> 
                    <div class="text-sm-center mt-2 mb-1">Developer</div>
                </div>
                <hr>
                <div class="card-text text-sm-center">
                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>                 
                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>       
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="mx-auto d-block">
                    <img class="rounded-circle mx-auto d-block" src="https://i.imgur.com/D0DvGMs.png" alt="Card image cap">            
                    <h4 class="text-sm-center mt-2 mb-1"><strong>Nitin Lalwani</strong></h4> 
                    <div class="text-sm-center mt-2 mb-1">Developer</div>
                </div>
                <hr>
                <div class="card-text text-sm-center">
                    <a href="#"><i class="fa fa-facebook pr-1"></i></a>                 
                    <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                    <a href="#"><i class="fa fa-linkedin pr-1"></i></a>       
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                    <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-2"></div> 
    
</div>
</div>
{% endblock %}