{% extends "header.html" %}

{% block body %}
<div class="row" style="justify-content: center;">
    <h1>Welcome to FPSU - Admin Panel</h1>
</div>
<br>
<br>
<br>
<div class="row">
    <p>Our feedback system is designed in a way that it automatically takes feedback from the users periodically. The interaction is highly human friendly. The system will perform sentiment analysis. The project will incorporate and facilitates scopes like visualisation, less time consuming, friendly conversation, fully automated system. We are working towards increasing the efficiency of our sentiment model. Once our model reaches to the estimated accuracy, we have planned to expand our system to more universities and present it in the industrial market.</p>
</div>
{% endblock%}