<html>
<head>
    <title>
        Feedback Form for your Faculty.
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--script>
        $(function() {
    $('input[type="submit"]').prop('disabled', true);
    $('#check').on('input', function(e) {
        if(this.value.length === 50) {
            $('input[type="submit"]').prop('disabled', false);
        } else {
            $('input[type="submit"]').prop('disabled', true);
        }
    });
});
    
    
    </script-->
    
    
    
</head>

</html>

<body>
    <div class="container">
        <div class="row">
            <h2><strong>Feedback form for your Faculty!</strong></h2><hr>
            <p>Thanks for being a part of the data collection phase of this project. We're more than thankful. Here's the first form we want you'll to fill up. Faculty's feedback form. Assume <i>Your Faculty</i> to be the faculty for whom you'll fill the form. <span style="background-color: red; color: white;"><strong>Please fill in more descriptive answers.</strong></span></p><hr>
        </div>
        <div class="row">
            <form method="POST" action="{{ url_for('feedback_desc_part2_resp') }}">
                
            <div class="form-group">
            <label for="exampleInputEmail1">1. Which mode of teaching would you prefer for this faculty for this particular subject? Blackboard or projector?</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Answer here." name="quest_6" minlength="50">
            </div>
                
            <div class="form-group">
            <label for="exampleInputEmail1">2. Does your faculty encourage you to perform better?</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Answer here." name="quest_7" minlength="50">
            </div>
                
            <div class="form-group">
            <label for="exampleInputEmail1">3. How well do you feel the faculty knows his subject?</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Answer here." name="quest_8" minlength="50">
            </div>
                
            <div class="form-group">
            <label for="exampleInputEmail1">4. What would you comment on the communication skills of the faculty?</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Answer here." name="quest_9" minlength="50">
            </div>
            
            <div class="form-group">
            <label for="exampleInputEmail1">5. How would you describe classroom scenes during faculty teaching?</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Answer here." name="quest_10" minlength="50">
            </div>
                
            <button type="submit" class="btn btn-default center-block">Submit</button>
            </form>
            
            <div class="row text-center">
                <span><a href="https://codingprivacy.github.io/projects/"><u>CodingPrivacy</u></a></span>
            </div>
        </div>
    </div>

</body>

