{% extends "header.html" %}

{% block body %}

<div class="container" style="min-height: 100%">
    <div class="row text-center" style="margin: 15px;">
        <h2>Select Your Choice</h2>
    </div>
    <div class="row" style="margin: 15px;">
        <form class="center-block text-center" method="POST" action="{{ url_for('display_graph') }}">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="True" name="semester_dropdown" id="semester_dropdown">
                Select Semester <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" name="semester_dropdown_ul" id="semester_dropdown_ul">
                <li><a href="#">8</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">2</a></li>
              </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="True" name="name_dropdown" id="name_dropdown">
                Select Faculty <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" name="name_dropdown_ul" id="name_dropdown_ul">
                <li><a href="#">Mr. Wilkinson</a></li>
                <li><a href="#">Mr. Brijesh Vala</a></li>
                <li><a href="#">Mr. Jaydeep Viradiya</a></li>
                <li><a href="#">Miss Darshana Parmar</a></li>
              </ul>
            </div>
               <div class="btn-group"> 
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="True" name="subject_dropdown" id="subject_dropdown">
                Select Subject <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" name="subject_dropdown" id="subject_dropdown_ul">
                <li><a href="#">BDA</a></li>
                <li><a href="#">CPS</a></li>
              </ul>
            </div>
            
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    
    
</div>

{% endblock %}