{% extends "header.html" %}

{% block body %}

<div class="animated fadeIn" style="min-height: 100%">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <div class="alert alert-success mx-auto" role="alert" style="max-width: 33.33%">
                {{ err }}
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-outline-primary btn-lg" onclick="GoBackWithRefresh()">Go Back</button>
        </div>
    </div><!--Row_2 End-->
</div>

{% endblock %}