{% extends "header.html" %}

{% block body %}

<div class="animate fadeIn">
    <div class="row justify-content-center">
        <div class="col-lg-4 text-center">
            <button type="button" class="btn btn-outline-primary btn-lg" onclick="GoBackWithRefresh()">Go Back</button>
        </div>
        <div class="col-lg-4 text-center">
            <button type="button" class="btn btn-outline-primary btn-lg" onclick="updateDiv()">Refresh Graph</button>
        </div>
    </div>
    <br>
    <p>{{ err }}</p>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header text-center">
                    <strong class="card-title mb-3">Faculty Information</strong>
                </div>
                <div class="card-body">
                    <div class="mx-auto d-block text-center justify-content-center">
                        <img class="rounded-circle mx-auto d-block" src="{{ img_file_link }}" alt="Card image cap">
                        <h4 class="text-sm-center mt-2 mb-1"><strong>{{ faculty_name }}</strong></h4>
                        <div class="text-sm-center">{{ post }}</div>
                        <div class="text-sm-center">{{ dept }}</div>
                        <div class="text-sm-center">{{ institute }}</div>
                        <hr>
                        <div class="fa-hover">
                            <h6>Emp Id : {{ id }}</h6>
                        </div>
                        <hr>
                        <div class="fa-hover">
                            <a href="{{ faculty_mailto_email }}"><i class="fa fa-envelope-o"></i> Email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-center">
                    <strong class="card-title mb-3">Characteristic Analysis</strong>
                </div>
                <div class="card-body">
                    <div style="position: relative; height: inherit; width: inherit;">
                        <canvas id="characteristic_bar_graph"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-center">
                    <strong class="card-title mb-3">Timeline Analysis</strong>
                </div>
                <div class="card-body">
                    <div style="position: relative; height: inherit; widows: inherit;">
                        <canvas id="timeline_bar_graph"></canvas>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong class="card-title mb-3">Word Cloud</strong>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong class="card-title mb-3">Raw Messages</strong>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <button type="button" class="btn btn-outline-primary btn-lg">Save Report to PDF</button>
        </div>
    </div>
</div>

{% endblock %}

{% block chartscripts %}
<script>
function updateDiv()
{ 
    $( "#characteristic_bar_graph" ).load(window.location.href + " #characteristic_bar_graph" );
}

</script>
<script>
    var ctx = document.getElementById('characteristic_bar_graph').getContext('2d');
        var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['Punctuality', 'Knowledge', 'CS Skills', 'Interactiveness', 'Motivation', 'Problem Solving', 'Course Completion', 'Creativity'],
        datasets: [
            {
            label: 'Semester 6',
            backgroundColor: 'rgb(255, 166, 0)',
            borderColor: 'rgb(255, 166, 0)',
            data: [5, 10, 5, 2, 20,5, 10, 5]
        },
            {
            label: 'Semester 8',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(1255, 99, 132 )',
            data: [15, 12, -6, 10, 12, 15, 12, -7]
        }
        
        ]
    },

    // Configuration options go here
    options: {}
});
    
</script>
<script>
var ctx = document.getElementById('timeline_bar_graph').getContext('2d');
        var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['2018-1', '2018-2', '2019-1', '2019-2'],
        datasets: [
            {
            label: 'Punctuality',
            fill: false,
            backgroundColor: 'rgb(255, 166, 0)',
            borderColor: 'rgb(255, 166, 0)',
            data: [5, 10, 5, 2]
        },
            {
            label: 'Knowledge',
            fill: false,
            backgroundColor: 'rgb(188, 80, 144)',
            borderColor: 'rgb(188, 80, 144)',
            data: [7, 2, 4, 6]
        },
            {
            label: 'Communication Skills',
            fill: false,
            backgroundColor: 'rgb(44,62,80)',
            borderColor: 'rgb(44,62,80)',
            data: [15, 12, 6, 10]
        }, 
            {
            label: 'Interactiveness',
            fill: false,
            backgroundColor: 'rgb(192,57,43)',
            borderColor: 'rgb(192,57,43)',
            data: [15, 1, 5, 3]
        },
            {
            label: 'Evaluation',
            fill: false,
            backgroundColor: 'rgb(22,160,133)',
            borderColor: 'rgb(22,160,133)',
            data: [9, 11, 16, 7]
        }     
        ]
    },

    // Configuration options go here
    options: {}
});
</script>
{% endblock %}